.venv/
venv/
__pycache__/
*.pyc
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.idea/
.vscode/
*.log
metrics_output/
.DS_Store
.env
**/node_modules/
services/**/dist/
